torch==2.2.2
torchvision==0.17.2
transformers==4.44.1
diffusers==0.29.2
pyrallis==0.3.1
accelerate==0.33.0
bitsandbytes==0.43.0
einops==0.8.0
sentence_transformers==2.7.0
numpy==1.26.4
segment-anything